@model IkUygulama.Models.Views.PersonelModel

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Detay</h2>

<div>
    <h4>PersonelDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personel.PersonelAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.PersonelAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel.PersonelSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.PersonelSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel.Unvan.UnvanAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.Unvan.UnvanAd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personel.DogumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.DogumTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personel.TelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.TelNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personel.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Guncelle", new { id=Model.Personel.PersonelId}) |
    @Html.ActionLink("Listeye geri dön", "Personel")
</p>
